body {
    background-color: black;
    text-align: center;
}
#main {
    width: 1000px;
    height: auto;
    background-color:goldenrod ;
    margin: 25px auto;
    border: solid 2px black;
    padding: 10px;
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font: 24pt;
    color: black;
    white-space: pre;

}
hr {
    height: 2px;
    color: black;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-align: left;
    text-indent: 48px;
    color: black;
    white-space: pre;
}
img {
    width: 49%;
    height:65%;
}